<!DOCTYPE html>
<title> About Us </title>

 
 <body>

<ul>
<li> Hello & Welcome, We are Team TeraSeries .. Thank You for opening Our About Page</li>
<li></li>
<li> First of Please Clear Your Doubt About Us, We are not providing anyone's copyrights file for free to you , we are just navigator..  </li>
<li></li>
<li>There are Many People Who Upload Movies & Websites also Other things as well, on their Cloud Storage, They Are Normal People Like You , are generally create permanent valid link that are not removal without uploaders permission .. our team just find that and navigate direct link of that , and share to you through our website </li>
<li></li>
<li> In Case If You Find Anything Wrong on our Website , mistically uploaded by our team , please contact with us , our website contain normal  contact page as well as report on videos page, you can just contact us from nevigation bar , or you can report through our report on videos from at the end of our page </li>
<li></li>
<li> Since our team just navigate files , without watching entire movie or cinema , if our website contain poster of that -- 18+ , nudity, sexual embrace, murder, hateful speech, child abusing, and others contain please report that through our contact page, our team will immediately action against that  </li>
<li></li>
<li>Please Note that we do not provide our email id , telegram channel link to anyone , if you see someone that are misusing our site , please contact us </li>
<li></li>
<li>We Only Provide Cloud Storage link that are geniune , this may be google drive storage, TeraBox storage, or Mega.nz storage, since zip file couldn't be scan through cloud storage we never provide any zip file to you, inside that you can find direct files without password protected and sometimes it may torrent file or magnet link </li>

</ul>

 </body>
 
</html>
