{% extends 'base.html' %}
{% load static %}
{% static "poster" as baseUrl %}
{% block body %}

      <section class="content">
          {% if user.is_authenticated %}  	
            <!--============ Featured Ads ===========================================================================-->
            <section class="block">
            <!-- add poster -->
            {% for movie in movies %}
                <div class="container">
                    
                    <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                        <div class="item">
                            <div class="wrapper">
                                <div class="image">
                                    <h3>
                                        <a  class="tag category">{{movie.types}}</a>
                                        <a class="title">{{movie.name}}</a>
                                        <span class="tag">{{movie.lang}}</span>
                                    </h3>
                                    <a href="{{movie.watch}}" class="image-wrapper background-image">
                                        <img src="{{movie.poster.url}}" alt="">
                                    </a>
                                </div>
                                <!--end image-->
                                <h4 > <a>{{movie.quality}}</a> </h4>
                                <div class="price">{{movie.price}}</div>
                                <div class="meta">
                                    <figure>
                                        <i class="fa fa-calendar-o"></i>{{movie.date}}
                                    </figure>
                                    <figure>
                                        <a><i class="fa fa-user"></i>{{movie.hero}}</a>
                                        <a><i class="fa fa-user"></i>{{movie.heroine}}</a>
                                       
                                    </figure>
                                </div>
                                <!--end meta-->
                                <div class="description">
                                    <p>{{movie.about}} </p>
                                </div>
                                <!--end description-->
                                <a href="{{movie.watch}}" class="detail text-caps underline">Watch Now</a>
                            </div>
                        </div>
                        <!--end item-->
                          {% endfor %}
                          
                          
                                              {% for cinema in cinemas %}
                    <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                        <div class="item">
                            <div class="wrapper">
                                <div class="image">
                                    <h3>
                                        <a  class="tag category">{{cinema.types}}</a>
                                        <a class="title">{{cinema.name}}</a>
                                        <span class="tag">{{cinema.lang}}</span>
                                    </h3>
                                    <a href="{{movie.watch}}" class="image-wrapper background-image">
                                        <img src="{{cinema.poster.url}}" alt="{{cinema.name}}">
                                    </a>
                                </div>
                                <!--end image-->
                                <h4 > <a>{{cinema.quality}}</a> </h4>
                                <div class="price">{{cinema.price}}</div>
                                <div class="meta">
                                    <figure>
                                        <i class="fa fa-calendar-o"></i>{{cinema.date}}
                                    </figure>
                                    <figure>
                                        <a><i class="fa fa-user"></i>{{cinema.hero}}</a>
                                        <a><i class="fa fa-user"></i>{{cinema.heroine}}</a>
                                       
                                    </figure>
                                </div>
                                <!--end meta-->
                                <div class="description">
                                    <p>{{cinema.about}} </p>
                                </div>
                                <!--end description-->
                                <a href="{{cinema.watch}}" class="detail text-caps underline">Watch Now</a>
                            </div>
                        </div>
                        <!--end item-->
                          {% endfor %}
                          
                          
                                              {% for series in seriess %}
                    <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                        <div class="item">
                            <div class="wrapper">
                                <div class="image">
                                    <h3>
                                        <a  class="tag category">{{series.types}}</a>
                                        <a class="title">{{series.name}}</a>
                                        <span class="tag">{{series.lang}}</span>
                                    </h3>
                                    <a href="{{movie.watch}}" class="image-wrapper background-image">
                                        <img src="{{cinema.poster.url}}" alt="">
                                    </a>
                                </div>
                                <!--end image-->
                                <h4 > <a>{{series.quality}}</a> </h4>
                                <div class="price">{{series.price}}</div>
                                <div class="meta">
                                    <figure>
                                        <i class="fa fa-calendar-o"></i>{{series.date}}
                                    </figure>
                                    <figure>
                                        <a><i class="fa fa-user"></i>{{series.hero}}</a>
                                        <a><i class="fa fa-user"></i>{{series.heroine}}</a>
                                       
                                    </figure>
                                </div>
                                <!--end meta-->
                                <div class="description">
                                    <p>{{series.about}} </p>
                                </div>
                                <!--end description-->
                                <a href="{{series.watch}}" class="detail text-caps underline">Watch Now</a>
                            </div>
                        </div>
                        <!--end item-->
                          {% endfor %}
                          
                          
                          
                    </div>
                </div>
                <div class="background" data-background-color="#fff"></div>
                <!--end background-->
            </section>
            <!--============ End Featured Ads =======================================================================-->
 {% endif %}




{% endblock %}
